@model UserMovie

@{
    var currentMovie = ViewData["CurrentMovie"] as Movie;
    var currentUser = ViewData["CurrentUser"] as User;

    ViewData["Title"] = $"'{currentMovie?.Title}' Review By {currentUser?.UserName}";
    
    int Id = Model.Id;
    string? Score = string.Empty;
    string? Review = string.Empty;
}

<style>
    h1,
    h2 {
        text-align: center;
    }

    h2 {
        font-size: 40px;
    }

    h1 {
        font-size: 60px;
    }

    img {
        border-radius: 10px;
        width: 340px;
        height: 500px;
    }

    span,
    h1,
    h2 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .title {
        font-size: 25px;
    }

    .original-title {
        font-style: italic;
        font-size: 20px;
    }

    .release-date {
        font-size: 20px;
    }

    .description {
        font-size: 18px;
    }
    .description::before {
        content: 'Review: ';
    }
    .cont {
        display: flex;
        margin: auto;
    }
    .info-div {
        margin-left: 20px;
        transform: translateY(13%);
    }
    .score {
        display: inline-block;
        line-height: 0px;
        border-radius: 50%;
        border: 2px solid;
        font-size: 32px;
        border-color: black;
    }

    .score span {
        display: inline-block;
        padding-top: 50%;
        padding-bottom: 50%;
        margin-left: 8px;
        margin-right: 8px;
    }

    .img-div{
        margin: 5px;
        text-align: center;
    }
</style>


<h1>@ViewData["Title"]</h1>

<div class="cont">
    <div class="img-div">
        <h2><a class="text-dark" asp-area="" asp-controller="User" asp-action="Profile">@currentUser?.UserName</a></h2>
        <div class="divider"></div>
        <img src="@currentMovie?.PosterPath" alt="movie poster" />
        <br>
        <span class="title"><b>@currentMovie?.Title</b></span>
    </div>
    <div class="info-div">
        <span class="score"><span>@Model.Rating.0</span></span> 
        @if (currentMovie?.Score is null) { <span class="score"><span>N/R</span></span> }
        else { <span class="score"><span>@(currentMovie is null ? "N/R" : MathF.Round((float)currentMovie.Score, 1).ToString())</span></span> }
        <br>
        <p class="description">@Model.Review</p>
    </div>
    <br>
</div>